#app .group {

  display: inline-block;
  background: rgba(255, 255, 255, 0.08);
  border-radius: .2rem;
  margin: .1rem;

  .name {
    text-align: center;
    font-size: .5rem;
    color: rgba(255, 255, 255, 0.5);
  }

  .group-content {
    margin: .4rem;

  }
}