#app .sequence {
  display: inline-block;
  border: 1px solid black;
  background: #26362b;

  .header {
    background: #2d4a3f;
    padding: .1rem;
  }

  .content {
    padding: .4rem;
  }

  .values {
    display: grid;
    grid: auto-flow / repeat(8, calc(1fr/8));
    font-weight: bold;
    height: 1rem;

    .button {
      height: 100%;
      background: #555;
      border: 1px solid black;

      &.tick {
        background: #777;
      }

      &.on {
        background: #588;

        &.tick {
          background: #7aa;
        }
      }
    }
  }
}