#app .voice {
  border: 1px solid black;
  background: #24303e;
  display: inline-block;

  .header {
    background: #3c4d60;
    padding-left: .1rem;
    font-weight: bold;
  }

  .content {
    padding: .4rem;
  }
}