@import "comps/Group";
@import "comps/Knob";
@import "comps/Number";
@import "comps/Sequence";
@import "comps/Synth";
@import "comps/VFader";
@import "comps/Voice";

body {
    background: #222222;
    color: #ccc;
    font-family: monospace;
}

#app {
    .hidden {
        display: none;
    }

    input {
        background: #202332;
        color: #ddd;
        border: 1px solid #2d4e6c;
        padding: .2rem;
    }

    select {
        border: none;
        background: #344;
        color: #fff;
        font-family: monospace;
        font-size: .7rem;
        height: min-content;
    }

    button {
        background: #666;
        color: #ddd;
        border: none;
        margin: .1rem;
        &:hover {
            background: #555;
            color: #eee;
        }
        &:active {
            background: #333;
            color: #aaa;
        }
    }

    .right {
        position: absolute;
        right: 0;
    }

    .grid-x {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &.margin-right > * {
            margin-right: .1rem;
        }

        .grow { flex-grow: 1000; }
    }

}

