@import "comps/sequence";

body {
    background: #222222;
    color: #ccc;
    font-family: monospace;
}

#app {
    select {
        border: none;
        background: #344;
        color: #fff;
        font-family: monospace;
    }

}

