@import "comps/VFader";
@import "comps/Knob";
@import "comps/Number";
@import "comps/Sequence";
@import "comps/Voice";

body {
    background: #222222;
    color: #ccc;
    font-family: monospace;
}

#app {
    .hidden {
        display: none;
    }

    select {
        border: none;
        background: #344;
        color: #fff;
        font-family: monospace;
        font-size: .7rem;
        height: min-content;
    }

    .grid-x {
        display: flex;
        flex-direction: row;

        &.margin-right > * {
            margin-right: .1rem;
        }
    }

}

